@import "../styles/media-queries";

.hero-404 {
  text-align: center;
  height: calc(100vh - 6rem - 4.5rem);
  padding-top: calc(50vh - 3rem - 8rem);
  @include respond-above(sm) {
    height: calc(100vh - 6rem - 3.5rem);
    padding-top: calc(50vh - 3rem - 6rem);
  }
}
